/*
 * WARNING: This style sheet will be used on the same page as the embedded source style sheet.
 * To avoid accidental clashes it's critical that every class name be prefixed with "loom-",
 * and no element rules added.
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.loom-logo-small img {
  float: left;
  width: 35px;
}

.loom-img {
  border: 0;
}

.loom-pane-header {
  background: #fff;
}

.loom-navigation-global {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}

.loom-navigation-global:after {
  display: table;
  clear: both;
  content: '';
}

.loom-navigation-global__internal {
  max-width: 1050px;
  margin: 0 auto;
}

.loom-navigation-global__internal:after {
  display: table;
  clear: both;
  content: '';
}

.loom-navigation-global__items {
  margin: 0;
  padding: 3px 0 0;
  list-style: none;
}

.loom-ul {
  margin-top: 0;
  margin-bottom: 20px;
}

.loom-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.loom-navigation-global__items a:visited {
  color: #333;
}

.loom-navigation-global__items a {
  float: left;
  margin-left: 30px;
  color: #333;
  text-decoration: none;
}

.loom-a:visited,
.loom a:visited {
  color: #10626c;
}

.loom-a:link,
.loom a:link {
  color: #1f7c8a;
}

.loom-a,
.loom a {
  background-color: transparent;
}

.loom-btn-link-primary {
  display: inline-block;
  border: 1px solid #1a6975;
  border-radius: 3px;
  margin-bottom: 0;
  padding: 8px 15px;
  padding: .3em 10px;
  cursor: pointer;
  color: #fff !important;
  background: #1f7c8a;
  background-image: none;
  font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
  font-size: 18px;
  line-height: 1.4;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.loom-navigation-global__items__current a {
  color: #1f7c8a;
  font-weight: bold;
}

.loom-navigation-global__items__current a:visited {
  color: #1f7c8a;
}

.loom-pane-main {
  display: block;
  padding: 30px 20px 40px;
}

.loom-container-medium {
  max-width: 700px;
  margin: 0 auto;
}

.loom-container-wide {
  max-width: 1050px;
  margin: 0 auto;
}

.loom-page-heading {
  margin-bottom: 25px;
}

.loom-h1 {
  font-size: 36px;
}

.loom-h2,
.loom h2 {
  font-size: 22px;
}

.loom-h3,
.loom h3 {
  font-size: 18px;
}

.loom-h1,
.loom-h2,
.loom h2,
.loom-h3,
.loom h3 {
  margin: 0 0 .5em;
}

.loom-h1,
.loom-h2,
.loom h2,
.loom-h3,
.loom h3,
.loom-h4,
.loom-h5,
.loom-h6 {
  color: #555;
  font-weight: 700;
  line-height: 1.1;
}

.loom-pullout {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  background: white;
}

.loom-pullout:after {
  display: table;
  clear: both;
  content: '';
}

.loom-vertical-grouping {
  margin-bottom: 40px;
}

.loom-vertical-grouping-xs {
  margin-bottom: 10px;
}

/* syntax highlighting */
.loom-code {
  display: block;
  font-family: monospace;
  white-space: pre;
}

.loom-code a {
  border-bottom: 1px dashed;
  text-decoration: none;
}

.loom-code-punctuation {
  color: gray;
}

.loom-code-keyword {
  color: #ac275c;
}

.loom-code-type-definition {
  color: #8679b0;
}

.loom-code-type-usage {
  color: #8679b0;
}

.loom-code-constructor-definition {
  color: #8679b0;
}

.loom-code-field-definition {
  color: #555;
}

.loom-code-primitive {
  color: #8679b0;
}

// Pre

code,
pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"],
pre,
pre[class*="language-"] {
  color: #f8f8f2;
  background: #272822;
}

pre,
pre[class*="language-"] {
  padding: 1em;
  margin: $space-base 0;
  overflow: auto;
  border-radius: 2px;
}


// Inline code */

:not(pre) > code,
:not(pre) > code[class*="language-"] {
  padding: .2em .3em;
  border-radius: 2px;
  white-space: normal;
}

:not(pre) > code {
  color: #555;
  background: rgba(0,0,0,.07);
}

